#flexSection
{
	display: flex;
	flex-wrap: wrap;
	background-color: green;
	flex-direction: row;
}
#flexProducts
{
	flex-basis: 80%;
	background-color: rgba(255, 255, 0, 0.75);
	display: flex;
	flex-wrap: wrap;
	
}
#flexSection > h3, #flexSection > h2
{
	flex-basis: 100%;
}
#flexUl
{
	list-style-type: none;
	display: flex;
	background-color: blue;	
	
}
#flexAside
{
	flex-wrap: fixed;
	flex-shrink: 0;
	flex-grow: 0;
	
}
#flexArticle1
{
	order: 1;
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
	flex-direction: row;
	
}
#flexArticle2
{
	order: 2;
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
	flex-direction: row;
	
}
#flexArticle3
{
	order: 3;
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
	flex-direction: row;
	
}
#footerCopy
{
	text-align: center;
	background-color: blue;
	color: white;
}
#footerCookies
{
	position: fixed;
	color: #fff;
	background-color: #fa0;
	opacity: 0.5;
	z-index: 9999;
	right: 0px;
	bottom: 0px;
	margin: 0 1em 0 0;
	
}

.articleHeaders
{
	flex-basis:100%;	
}
.articleParagraphs
{
	order: 1;
	flex-basis: 70%;
	flex-shrink: 1;
	
}
.flexImg
{
	order: 2;
}
.articleFooters
{
	order: 3;
	text-align: left;
	flex-basis: 100%;
}

nav > ul > li
{
	padding: 0 1em 0 1em;
	
}
nav > ul > li a:link, nav > ul > li a:visited, nav > ul > li a:active 
{
	color: white;
	text-decoration: none;
}
h1
{
	background-color: black;
	color: white;
}
h2
{
	background-color: grey;
	color: white;
}
